<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
    
        <title>UN Press Releases Translations</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" filename="favicon.ico">

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!-- jQueryUI css -->
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- jQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- Bootstrap JS -->
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
    </head>
    {% if lang == 'ar' %}
        {% set direction = "rtl" -%}
        {% set margin = "mr-auto" -%}
    {% else %}
        {% set direction = "ltr" -%}
        {% set margin = "ml-auto" -%}
    {% endif %}
    <body direction="{{direction}}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index', lang=lang) }}">
            <img src="{{ url_for('static', filename='img/dhl.png') }}" style="width:60px;height:60px;">
            UN Press Releases Translated
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav {{margin}}">
                <li class="nav-item"><a id="ar" class="nav-link disabled lang" href="#">ﺎﻠﻋﺮﺒﻳﺓ</a></li>
                <li class="nav-item"><a id="zh" class="nav-link disabled lang" href="#">中文</a></li>
                <li class="nav-item"><a id="en" class="nav-link lang" href="?lang=en">English</a></li>
                <li class="nav-item"><a id="ru" class="nav-link disabled lang" href="#">Русский</a></li>
                <li class="nav-item"><a id="es" class="nav-link lang" href="?lang=es">Español</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light">
            <span class="mr-auto"><img src="{{url_for('static', filename='img/un-logo-footer.png')}}"></span>
            <a class="navbar-brand un-brand" href="http://www.un.org" title="Home" alt="Home"><span class="site-name">United Nations</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerToggler" aria-controls="footerToggler" aria-expanded="false" aria-label="Toggle footer">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="footerToggler">
                <ul class="navbar-nav {{margin}}">
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/contactus/" target="_blank">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/root?lang={{lang}}&base_uri=http://metadata.un.org/thesaurus&uri_anchor=00">About</a></li>
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/copyright/" target="_blank">Copyright</a></li>
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/fraudalert/" target="_blank">Fraud Alert</a></li>
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/privacy/" target="_blank">Privacy Notice</a></li>
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/siteindex/" target="_blank">A-Z Site Index</a></li>
                <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/terms/" target="_blank">Terms of Use</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>